{% include header.html %}
<html lang="en">
    <head>
        <style>
            col-sm-8 {
                border-right-style: solid;
                border-right-color: black;
                border-right-width: 88px;
            }
        </style>
    </head>

<div class="container px-2 max-width: 100%" style="text-align:left;">
    <img class="img-fluid mx-auto d-block" src="/static/img/home_still_harbor_tom_curry.png" alt="Still Harbor by Tom Curry" style="paddig-bottom:0.5em;"/>
    Still Harbor by <a href="http://tomcurrymaineartist.com" > Tom Curry </a>
    <div class="row">
        <div class="col-sm-8">
        	{{ content }}
        </div>
        <div class="col">
            {% include sidebar.html %}
        </div>
    </div>
</div>
{% include footer.html %}
