{% include header.html %}
<html lang="en">
    <head>
        <style>
            .col-sm-8 {
                border-right-style: solid;
                border-right-color: #E5E5E5;
                border-right-width: 2px;
            }
        </style>
    </head>

<div class="width=device-width style="text-align:left;">
    <img class="img-fluid w-100 mx-auto d-block" src="/static/img/home_still_harbor_tom_curry.png" alt="Still Harbor by Tom Curry" style="paddig-bottom:0.5em;"/>
    Still Harbor by <a href="http://tomcurrymaineartist.com" > Tom Curry </a>
    <div class="row">
        <div class="col-sm-8">
        	{{ content }}
        </div>
        <div class="col-sm-4">
            {% include sidebar.html %}
        </div>
    </div>
</div>
{% include footer.html %}
