{% include header.html %}
<div class="container">
   <div class="row">
      <div class="container px-2 max-width: 100%" style="text-align:left;">
    <img class="img-fluid mx-auto d-block" src="/static/img/members_labor_mural_judy_taylor.png" alt="Labor Mural by Judy Taylor" style="paddig-bottom:0.5em;"/>
    Labor Mural by <a href="http://www.judytaylorstudio.com/" > Judy Taylor </a> 
      </div>
      <div class="row">
         <div class="col-sm-9">
            <br>
               {{ content }}
         </div>
         <div class="col-sm-3 smalltxt">
         <br>
            {% capture sidebar %}{% include alumni_sidebar.md %}{% endcapture %}
            {{ sidebar | markdownify }}
         </div>
      </div>
   </div>
</div>
{% include footer.html %}

